/* raleway-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/raleway-v29-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* raleway-600 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/raleway-v29-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* kaushan-script-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Kaushan Script';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/kaushan-script-v16-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* montserrat-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/montserrat-v26-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* montserrat-700 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/montserrat-v26-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* raleway-700 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/raleway-v29-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* raleway-900 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/raleway-v29-latin-900.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

body{
    height: 100vh;
    margin: 0;
}

.mogo__body{
    margin: 0;
    width: 1510px;
    height: 1024px;
    background: linear-gradient(360deg, rgba(237, 215, 137, 0.9) 0%, rgba(233, 130, 131, 0.9) 100%);
}

.mogo__header{
    display: flex;
    width: 1170px;
    height: 100px;
    margin-left: 170px;
    margin-right: 170px;
}

.header__logo{
    display: flex;
    width: 270px;
    height: 100px;
    align-items: center;

}

.header__menu{
    display: flex;
    padding-left: 230px;
}

.nav-item{
    display: flex;
    width: 114px;
    height: 100px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FFF;
    text-align: center;
    font-family: Raleway, serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}

.nav-item-cart {
    padding-left: 17px;
    padding-top: 38px;
    padding-bottom: 38px;
    width: 24px;
    height: 24px;
}

.nav-item-search {
    padding-left: 35px;
    padding-top: 38px;
    padding-bottom: 38px;
    width: 24px;
    height: 24px;

}

.mogo_banner_creative{
    display: flex;
    width: 1170px;
    height: 80px;
    flex-direction: column;
    justify-content: center;
    padding-top:77px;
    padding-left: 170px;
    padding-right: 170px;
    color: #FFF;
    text-align: center;
    font-family: Kaushan Script, serif;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

.mogo_banner_welcome{
    display: flex;
    width: 1170px;
    height: 370px;
    padding-left: 170px;
    padding-right: 170px;
    flex-direction: column;
    justify-content: center;
    color: #FFF;
    text-align: center;
    font-family: Montserrat, serif;
    font-size: 144px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.mogo__banner_welcome_divider{
    width: 170px;
    height: 4px;
    margin-top: 42px;
    margin-right: 670px;
    margin-left: 670px;
    background: white;
}

.mogo_banner_lm_button {
    display: flex;
    width: 370px;
    height: 80px;
    margin-left: 570px;
    margin-right: 570px;
    margin-top: 72px;
    flex-direction: column;
    justify-content: center;
    color: #FFF;
    text-align: center;
    font-family: Raleway, serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    border: 2px white solid;
}

.mogo__banner_slider{
    display: flex;
    margin-left: 170px;
    margin-right: 170px;
    margin-top: 116px;
    white-space: nowrap;
}
.mogo__banner_slider1 {
    position: relative;
    width: 270px;
    height: 80px;
    margin-right: 30px;
    color: #F9EFCF;
    font-family: Raleway, serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    white-space: nowrap;
    text-transform: uppercase;
    line-height: 80px;
    border-top: 3px white solid;
}

.mogo__banner_slider1:before {
    content: '';
    position: absolute;
    border-bottom: 3px solid #F38281;
    width: calc(100% - 190px);
    top: -3px;
}

.mogo__banner_slider2 {
    position: relative;
    width: 270px;
    height: 80px;
    margin-right: 30px;
    color: #F9EFCF;
    font-family: Raleway, serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    white-space: nowrap;
    text-transform: uppercase;
    line-height: 80px;
    border-top: 3px white solid;
}

span.slider_number_text{
    color: #F9EFCF;
    font-family: Raleway, serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.mogo__main {
    width: 1510px;
    margin: 0;
}
.mogo__main_about{
    width: 1186px;
    height: 699px;
    background: #ffffff;
    padding-left: 154px;
    padding-right: 170px;
    padding-top: 42px;
}

.mogo__main_about_what {
    display: flex;
    width: 1170px;
    height: 80px;
    flex-direction: column;
    justify-content: center;
    color: #2D3033;
    text-align: center;
    font-family: Kaushan Script, serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.mogo__main_about_story {
    display: flex;
    width: 1170px;
    height: 81px;
    flex-direction: column;
    justify-content: center;
    color: #2D3033;
    text-align: center;
    font-family: Raleway, serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: uppercase;
}

.mogo__main_about_divider{
    width: 170px;
    height: 4px;
    background: #F38281;
    margin-left: 500px;
    margin-right: 500px;
    margin-top: 24px;
}

.mogo__main_about_text{
    display: flex;
    width: 1170px;
    height: 118px;
    flex-direction: column;
    justify-content: center;
    color: #000;
    text-align: center;
    font-family: Raleway, serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.mogo__banner_about_super{
    display: flex;
    justify-content: space-between;
}

.mogo__main_about_futures{
    display: flex;
    width: 1510px;
    height: 250px;
    background: #95E1D3;
    justify-content: center;
}

.futures{
    display: flex;
    width: 234px;
    height: 250px;
    margin-top: 24px;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border-left: 1px white solid;
    color: #FFF;
    font-family: Raleway, serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

span.future_num{
    color: #FFF;
    text-align: center;
    font-family: Raleway, serif;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.mogo__main_amazingservices{
    width: 1170px;
    height: 683px;
    padding-top: 78px;
    padding-left: 170px;
    padding-right: 170px;
}

.mogo__main_amazingservices_text1{
    display: flex;
    width: 1170px;
    height: 80px;
    flex-direction: column;
    justify-content: center;
    color: #2D3033;
    text-align: center;
    font-family: Kaushan Script, serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.mogo__main_amazingservices_text2{
    display: flex;
    width: 1170px;
    height: 81px;
    flex-direction: column;
    justify-content: center;
    color: #2D3033;
    text-align: center;
    font-family: Raleway, serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: uppercase;
}

.mogo__main_amazingservices_divider{
    width: 170px;
    height: 4px;
    background: #F38281;
    margin-top: 24px;
    margin-left: 500px;
    margin-right: 500px;
}

.mogo__main_amazingserviceslist {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.service {
    display: flex;
    width: 370px;
    height: auto;
    padding-top: 88px;
}

.services_img {
    width: 70px;
    height: 70px;
    margin-right: 50px; /* Adjusted margin */
}

.service-content {
    display: flex;
    flex-direction: column;
}

span.servises_h {
    font-size: 24px;
    font-family: "Raleway", serif;
    font-weight: 700;
    color: rgba(45, 48, 51, 1);
    margin-bottom: 5px;
}

.service-content p {
    margin: 0;
    color: #2D3033;
    font-family: Raleway, serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.mogo__main_alldevices{

}

.alldevices {
    width: 1510px;
    height: 868px;
    background-image: url("/fe_lessons/img/svg/unsplash.svg");
}

.alldevices-h1 {
    display: flex;
    width: 1170px;
    height: 80px;
    padding-top: 42px;
    padding-left: 170px;
    padding-right: 170px;
    color: #2D3033;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    font-family: Kaushan Script, serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.alldevices-h2 {
    display: flex;
    width: 1170px;
    height: 81px;
    padding-left: 170px;
    padding-right: 170px;
    flex-direction: column;
    justify-content: center;
    color: #2D3033;
    text-align: center;
    font-family: Raleway, serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: uppercase;
}

.alldevices-divider{
    width: 170px;
    height: 4px;
    margin-top: 24px;
    margin-left: 670px;
    margin-right: 670px;
    background: #F38281;
}

.ipad {
    position: relative;
    width: 659px;
    height: 494px;
    padding-top: 77px;
    padding-right: 427px;
    padding-left: 424px;
}

.ipad::before {
    content: "";
    position: absolute;
    background-image: url("/fe_lessons/img/svg/ramkaipad.svg");
    width: 1170px;
    height: 525px;
    left: 180px;
}
